spring:
  jackson:
    default-property-inclusion: non_null
    time-zone: GMT+8
    serialization:
      write-dates-as-timestamps: false
  threads:
    virtual:
      enabled: true
  profiles:
    active: dev
  data:
    redis:
      password: 123456
      timeout: 3000ms

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

logging:
  config: classpath:log4j-spring.xml

server:
  port: 8080
