<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cainsgl.user.repository.UserMapper">
    <!--     映射 users 表到 UserEntity -->
    <resultMap id="UserResultMap" type="com.cainsgl.common.entity.user.UserEntity">
    </resultMap>
    <!-- 通用列片段 -->
    <sql id="Base_Column_List">
        id, username, email, password_hash, nickname, avatar_url, bio,
        "level", experience, roles, permissions, status, email_verified,
        created_at, updated_at
    </sql>
    <!-- 获取用户的extra字段 -->
    <select id="selectExtraById" resultType="String">
        SELECT extra
        FROM users
        WHERE id = #{id}
    </select>

</mapper>

