<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cainsgl.user.repository.UserExtraInfoMapper">
    <resultMap id="UserExtraInfoResultMap" type="com.cainsgl.common.entity.user.UserExtraInfoEntity">
    </resultMap>
    <sql id="Base_Column_List">
        user_id, follower_count, following_count, like_count, comment_count, post_count, interest_vector
    </sql>

    <update id="batchIncrementUserExtraInfo">
        UPDATE user_extra_info
        <set>
            <if test="likeCountMap != null and !likeCountMap.isEmpty()">
                like_count = like_count + CASE
                <foreach collection="likeCountMap" index="key" item="value" separator=" ">
                    WHEN user_id = #{key} THEN #{value}
                </foreach>
                ELSE 0 END,
            </if>
            <if test="commentCountMap != null and !commentCountMap.isEmpty()">
                comment_count = comment_count + CASE
                <foreach collection="commentCountMap" index="key" item="value" separator=" ">
                    WHEN user_id = #{key} THEN #{value}
                </foreach>
                ELSE 0 END,
            </if>
            <if test="postCountMap != null and !postCountMap.isEmpty()">
                post_count = post_count + CASE
                <foreach collection="postCountMap" index="key" item="value" separator=" ">
                    WHEN user_id = #{key} THEN #{value}
                </foreach>
                ELSE 0 END,
            </if>
            <if test="articleViewCountMap != null and !articleViewCountMap.isEmpty()">
                article_view_count = article_view_count + CASE
                <foreach collection="articleViewCountMap" index="key" item="value" separator=" ">
                    WHEN user_id = #{key} THEN #{value}
                </foreach>
                ELSE 0 END,
            </if>
            <if test="followerCountMap != null and !followerCountMap.isEmpty()">
                follower_count = follower_count + CASE
                <foreach collection="followerCountMap" index="key" item="value" separator=" ">
                    WHEN user_id = #{key} THEN #{value}
                </foreach>
                ELSE 0 END,
            </if>
            <if test="followingCountMap != null and !followingCountMap.isEmpty()">
                following_count = following_count + CASE
                <foreach collection="followingCountMap" index="key" item="value" separator=" ">
                    WHEN user_id = #{key} THEN #{value}
                </foreach>
                ELSE 0 END,
            </if>
            <if test="msgCountMap != null and !msgCountMap.isEmpty()">
                msg_count = msg_count + CASE
                <foreach collection="msgCountMap" index="key" item="value" separator=" ">
                    WHEN user_id = #{key} THEN #{value}
                </foreach>
                ELSE 0 END,
            </if>

            <if test="msgReplyCountMap != null and !msgReplyCountMap.isEmpty()">
                msg_reply_count = msg_reply_count + CASE
                <foreach collection="msgReplyCountMap" index="key" item="value" separator=" ">
                    WHEN user_id = #{key} THEN #{value}
                </foreach>
                ELSE 0 END,
            </if>
            <if test="msgLikeCountMap != null and !msgLikeCountMap.isEmpty()">
                msg_like_count = msg_like_count + CASE
                <foreach collection="msgLikeCountMap" index="key" item="value" separator=" ">
                    WHEN user_id = #{key} THEN #{value}
                </foreach>
                ELSE 0 END,
            </if>
            <if test="msgReportCountMap != null and !msgReportCountMap.isEmpty()">
                msg_report_count = msg_report_count + CASE
                <foreach collection="msgReportCountMap" index="key" item="value" separator=" ">
                    WHEN user_id = #{key} THEN #{value}
                </foreach>
                ELSE 0 END,
            </if>
            <if test="msgMessageCountMap != null and !msgMessageCountMap.isEmpty()">
                msg_message_count = msg_message_count + CASE
                <foreach collection="msgMessageCountMap" index="key" item="value" separator=" ">
                    WHEN user_id = #{key} THEN #{value}
                </foreach>
                ELSE 0 END,
            </if>
        </set>
        WHERE user_id IN
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </update>

</mapper>
