<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cainsgl.user.repository.UserLogArchiveMapper">
    <resultMap id="UserLogArchiveResultMap" type="com.cainsgl.common.entity.user.UserLogArchiveEntity">
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, action, device, info, created_at
    </sql>
</mapper>
