spring:
  application:
    name: admin
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
