<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cainsgl.comment.repository.ParCommentMapper">

    <resultMap id="BaseResultMap" type="com.cainsgl.comment.entity.ParCommentEntity">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="post_id" property="postId" />
        <result column="data_id" property="dataId" />
        <result column="content" property="content" />
        <result column="version" property="version" />
        <result column="like_count" property="likeCount" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,content,like_count,created_at,reply_count
    </sql>

    <select id="selectByCursor" parameterType="map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM paragraph_comment
        WHERE post_id = #{postId}
        AND data_id = #{dataId}
        AND version = #{version}
        <if test="lastCreatedAt != null and lastLikeCount != null">
            AND (
            like_count &lt; #{lastLikeCount}
            OR
            (like_count = #{lastLikeCount} AND created_at  &lt; #{lastCreatedAt})
            )
            OR
            (like_count = #{lastLikeCount} AND created_at  = #{lastCreatedAt} AND id &lt; #{lastId})
            )
        </if>
        ORDER BY created_at DESC, like_count DESC,id DESC
        LIMIT 10
    </select>

    <update id="batchIncrementLikeCount">
        UPDATE paragraph_comment
        SET like_count = like_count + CASE
        <foreach collection="updates" item="item" separator=" ">
            WHEN id = #{item.id} THEN #{item.incrementValue}
        </foreach>
        ELSE 0 END
        WHERE id IN
        <foreach collection="updates" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>

</mapper>