<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cainsgl.article.repository.KnowledgeBaseMapper">
    <!-- 映射 knowledge_bases 表到 KnowledgeBaseEntity -->
    <resultMap id="KnowledgeBaseResultMap" type="com.cainsgl.common.entity.article.KnowledgeBaseEntity">
    </resultMap>
    <!-- 通用列片段 -->
    <sql id="Base_Column_List">
        id, user_id, name, created_at
    </sql>

</mapper>
