<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cainsgl.article.repository.PostChunkVectorMapper">
    <!-- 映射 post_chunk_vector 表到 PostChunkVectorEntity -->
    <resultMap id="PostChunkVectorResultMap" type="com.cainsgl.common.entity.article.PostChunkVectorEntity">
    </resultMap>
    <!-- 通用列片段 -->
    <sql id="Base_Column_List">
        id, post_id, vector
    </sql>

    <resultMap id="PostCosineResultMap" type="com.cainsgl.article.dto.PostCosineResult">
        <result column="post_id" property="postId"/>
        <result column="distance" property="distance"/>
        <result column="chunk" property="chunk"/>
    </resultMap>

    <select id="selectPostsByCosine" resultMap="PostCosineResultMap">
        SELECT post_id, (vector &lt;-&gt; #{targetVector, typeHandler=com.cainsgl.common.handler.VectorTypeHandler}) AS distance, chunk
        FROM post_chunk_vector
        WHERE (vector &lt;-&gt; #{targetVector, typeHandler=com.cainsgl.common.handler.VectorTypeHandler}) &gt; #{startValue}
        ORDER BY distance
        LIMIT #{limit}
    </select>

</mapper>
