<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cainsgl.article.repository.PostHistoryMapper">
    <!-- 映射 posts_history 表到 PostHistoryEntity -->
    <resultMap id="PostHistoryResultMap" type="com.cainsgl.common.entity.article.PostHistoryEntity">
    </resultMap>
    
    <!-- 通用列片段 -->
    <sql id="Base_Column_List">
        id, post_id, content, created_at
    </sql>

</mapper>