spring:
  jackson:
    default-property-inclusion: non_null
    time-zone: GMT+8
    serialization:
      write-dates-as-timestamps: false
  threads:
    virtual:
      enabled: true  # 启用虚拟线程
  elasticsearch:
    username: elastic
    password: l3ccY0dUP7zlnhQ3
    restclient:
      ssl:
        bundle:
  profiles:
    active: dev
  datasource:
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: 1
      maximum-pool-size: 10
      connection-timeout: 3000
  data:
    redis:
      password: 123456
      timeout: 3000ms

mybatis-plus:
  type-handlers-package: com.cainsgl.common.handler
  configuration:
    map-underscore-to-camel-case: true
  global-config:
    db-config:
      id-type: ASSIGN_ID

management:
  endpoints:
    web:
      exposure:
        include: health,info  # 暴露的端点
  endpoint:
    health:
      show-details: always  # 显示详细健康信息
      probes:
        enabled: true       # 启用探针支持
  health:
    elasticsearch:
      enabled: false
    livenessState:
      enabled: true         # 启用存活状态
    readinessState:
      enabled: true        # 启用就绪状态
logging:
  config: classpath:log4j-spring.xml


server:
  jetty:
    threads:
      # 读取K8s注入的CPU_CORES环境变量,配置IO线程
      acceptors: ${CPU_CORES:4}  # 默认4核,未注入时兜底
      selectors: ${CPU_CORES:4}
  port: 8080
grpc:
  server:
    port: 9092
    security:
      enabled: false
sa-token:
  # token 名称（同时也是 cookie 名称）
  token-name: token
  # token 有效期（单位：秒） 默认30天，-1 代表永久有效
  timeout: 1296000
  # token 最低活跃频率（单位：秒），如果 token 超过此时间没有访问系统就会被冻结，默认-1 代表不限制，永不冻结
  # 设置为7天（604800秒），每次请求会自动续期，只要7天内有访问就不会过期
  active-timeout: 1296000
  # 是否允许同一账号多地同时登录 （为 true 时允许一起登录, 为 false 时新登录挤掉旧登录）
  is-concurrent: true
  # 多端登录时是否复用同一 token（false 为每次登录生成新 token，便于按设备维度下线）
  is-share: false
  # 令牌风格
  token-style: uuid
