spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      file-size-threshold: 1MB
      location: ${java.io.tmpdir} # 临时文件存储路径（可选）

  config:
    import: classpath:env.yaml
  jackson:
    default-property-inclusion: non_null
    time-zone: GMT+8
    serialization:
      write-dates-as-timestamps: false
  threads:
    virtual:
      enabled: true
  elasticsearch:
    uris: ${es.uris}
    username: ${es.username}
    password: ${es.password}
    restclient:
      ssl:
        bundle:
  profiles:
    active: ${system.profiles-active}
  datasource:
    url: ${db.url}
    username: ${db.username}
    password: ${db.password}
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: ${db.pool.min-idle}
      maximum-pool-size: ${db.pool.max-size}
      initialization-fail-timeout: 0
      max-lifetime: 540000
      connection-timeout: 150000
      leak-detection-threshold: 60000
  data:
    redis:
      host: ${redis.host}
      port: ${redis.port}
      password: ${redis.password}
      timeout: 3000ms
      jedis:
        pool:
          max-active: 8
          max-idle: 8

mybatis-plus:
  type-handlers-package: com.cainsgl.common.handler
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
  global-config:
    db-config:
      id-type: ASSIGN_ID

management:
  endpoints:
    web:
      exposure:
        include: health,info  # 暴露的端点
  endpoint:
    health:
      show-details: always  # 显示详细健康信息
      probes:
        enabled: true       # 启用探针支持
  health:
    elasticsearch:
      enabled: false
    livenessState:
      enabled: true         # 启用存活状态
    readinessState:
      enabled: true        # 启用就绪状态
logging:
  config: classpath:log4j-spring.xml
  level:
    com.cainsgl: DEBUG
    org.springframework.web.client: DEBUG
server:
  jetty:
    threads:
      acceptors: ${system.cpu-cores}
      selectors: ${system.cpu-cores}
  port: ${server.http-port}
  shutdown: graceful
spring.lifecycle:
  timeout-per-shutdown-phase: ${system.shutdown-timeout}
grpc:
  server:
    port: ${server.grpc-port}
    security:
      enabled: false
    await-termination: ${system.grpc-await-termination}

# RocketMQ 配置
rocketmq:
  producer:
    endpoints: ${rocketmq.endpoints}
    ssl-enabled: ${rocketmq.ssl-enabled}
  push-consumer:
    endpoints: ${rocketmq.endpoints}
sa-token:
  # token 名称（同时也是 cookie 名称）
  token-name: token
  # token 有效期（单位：秒） 默认30天，-1 代表永久有效
  timeout: 1296000
  # token 最低活跃频率（单位：秒），如果 token 超过此时间没有访问系统就会被冻结，默认-1 代表不限制，永不冻结
  # 设置为7天（604800秒），每次请求会自动续期，只要7天内有访问就不会过期
  active-timeout: 1296000
  # 是否允许同一账号多地同时登录 （为 true 时允许一起登录, 为 false 时新登录挤掉旧登录）
  is-concurrent: true
  # 多端登录时是否复用同一 token（false 为每次登录生成新 token，便于按设备维度下线）
  is-share: false
  # 令牌风格
  token-style: uuid
dimensions: 1024


#服务参数，这里是代表一次性处理多少日志
userLog:
  batchNumber: 30