<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cainsgl.ai.repository.ChatMessageMapper">
    
    <select id="findMessagesBySession" resultType="com.cainsgl.ai.entity.ChatMessageEntity">
        SELECT * FROM chat_message
        WHERE session_id = #{sessionId}
        <if test="last != null">
            AND created_at &lt; #{last}
        </if>
        ORDER BY created_at DESC
        LIMIT #{limit}
    </select>
    
</mapper>
